.App {
  width: 100vw;
  height: 100vh;
}

.wrap {
  width: calc(100% - 150px);
  height: 100vh;
  background-color: #e0e0e0;
}

.context {
  width: 100%;
  height: 100%;
}

/***
 *      /$$$$$$              /$$     /$$                      /$$$$$$  /$$       /$$          
 *     /$$__  $$            | $$    |__/                     /$$__  $$|__/      | $$          
 *    | $$  \ $$  /$$$$$$$ /$$$$$$   /$$  /$$$$$$  /$$$$$$$ | $$  \__/ /$$  /$$$$$$$  /$$$$$$ 
 *    | $$$$$$$$ /$$_____/|_  $$_/  | $$ /$$__  $$| $$__  $$|  $$$$$$ | $$ /$$__  $$ /$$__  $$
 *    | $$__  $$| $$        | $$    | $$| $$  \ $$| $$  \ $$ \____  $$| $$| $$  | $$| $$$$$$$$
 *    | $$  | $$| $$        | $$ /$$| $$| $$  | $$| $$  | $$ /$$  \ $$| $$| $$  | $$| $$_____/
 *    | $$  | $$|  $$$$$$$  |  $$$$/| $$|  $$$$$$/| $$  | $$|  $$$$$$/| $$|  $$$$$$$|  $$$$$$$
 *    |__/  |__/ \_______/   \___/  |__/ \______/ |__/  |__/ \______/ |__/ \_______/ \_______/
 *                                                                                            
 *                                                                                            
 *                                                                                            
 */
.action-side {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;

  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 1px solid #ccc;
}
.action-side-btn {
  margin-top: 5px;
  width: 100px;
}

.action-side-btn-active {
  background-color: blanchedalmond;
}
